<table><tr><td>{$names.picture_url   }:</td><td><input id="{$id}_picture_url"    type="text" /></td></tr>
       <tr><td>{$names.picture_alt   }:</td><td><input id="{$id}_picture_alt"    type="text" /></td></tr>
       <tr><td>{$names.picture_width }:</td><td><input id="{$id}_picture_width"  type="text" /></td></tr>
       <tr><td>{$names.picture_height}:</td><td><input id="{$id}_picture_height" type="text" /></td></tr>
       <tr><td></td><td><input type="button" value="{$names.submit}" onclick="WysiwygInsPicture('{$id}');" /></td></tr></table>