/* 
    Document   : index.css
    Created on : 31.01.2013, 01:59:37
    Author     : CHRIS MEURISCH
    Description:
        Purpose of the stylesheet follows.
*/

.footer{
    text-align: right;
}

#div-content{

}
