/* 
    Document   : index.css
    Created on : 31.01.2013, 01:59:37
    Author     : CHRIS MEURISCH
    Description:
        Purpose of the stylesheet follows.
*/

.brand-logo{ 
    float: left;
    padding-top: 8px;
    padding-right: 10px;
}

.footer{
    text-align: right;
    padding-right: 20px;
    color: #777;
}

.footer a{
    color: #777;
}

.carousel-img{
    width: 1200px;
    height: 650px;
}

.sai_p_modules {
    border-left: 3px solid #1C569C;
}
.sai_p_modules:hover {
    border-right: 3px solid #1C569C;
    border-left: 0;
}
.sai_p_modules:active {
    border-right: 3px solid #1C569C;
    border-left: 0;
}