#container_top .well{
    height: 220px;
}
#project {
    float: left;
    min-width: 250px;
}
#analytics {
    margin-left: 20px;
    float: left;
    min-width: 250px;
}
#git {
    margin-left: 20px;
    float: left;
    min-width: 250px;
}
#project {
    float: left;
}
#todo {
    clear: both;
}