#content_saistart {
    width: 1250px;
}

#container_top .well{
    height: 220px;
    min-width: 250px;
}
#project {
    float: left;
}
#analytics {
    margin-left: 20px;
    float: left;
}
#git {
    margin-left: 20px;
    float: left;
}
#logout {
    margin-left: 20px;
    float: left;
}
#todo {
    clear: both;
}
#login {
    position: fixed;
    top: 80px;
    right: 20px;
    width:220px;
}