#container_top .well{
    height: 220px;
    width: 21%;
}
#project {
    float: left;
}
#analytics {
    margin-left: 10px;
    float: left;
}
#git {
    margin-left: 10px;
    float: left;
}
#logout {
    margin-left: 10px;
    float: right;
}
#todo {
    clear: both;
}
#login {
    position: fixed;
    top: 80px;
    right: 20px;
    width:220px;
}