<img id="{$id}_{$command}" class="cms_css_wysiwyg"
        src="{$root}images/wysiwyg/{$command}.gif"
        alt=""
      width="20"
     height="20"
    onclick="PopupShow('{$id}_{$command}', 'tag-bottom', 0, 3, '{$id}_{$command}');"
 onmouseout="this.src = '{$root}images/wysiwyg/{$command}.gif'"
onmouseover="this.src = '{$root}images/wysiwyg/{$command}_on.gif'" /><script type="text/javascript">
var img = new Image(); img.src = '{$root}images/wysiwyg/{$command}.gif';
var img = new Image(); img.src = '{$root}images/wysiwyg/{$command}_on.gif';
</script>