
html body div.cms_css_popup_main img { border: none; }
html body div.cms_css_popup_main table { border-collapse: collapse; }


html body div.cms_css_popup_main { position: absolute; display: none;

font-size: 0.8em;
  font-family: Arial, Sans-Serif;
 }

html body div.cms_css_popup_drag { border: 1px  solid #000000; border-width: 1px 1px 1px 1px; padding: 2px 6px; background: #802000; font: 900 1.0em Trebuchet MS, Sans-Serif; color: #FFFFFF; }
html body div.cms_css_popup_body { border: 1px  solid #000000; border-width: 0px 1px 1px 1px; padding: 6px 6px; background: #DBDBBA; }

html body div.cms_css_popup_drag { cursor: default; }
html body div.cms_css_popup_exit { cursor: pointer; float: right; width: 9px; height: 12px; background: url("../images/popup/exit.gif") no-repeat left bottom; }